@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="en" />
    <meta name="viewport" content="width=device-width" />
    <title>Bug Tracking System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h3>Issue Tracking System</h3>
        </div>

        @RenderBody()

        <br />
        <hr />
        <br />
        <div class="text-center">
            <footer class="text-center">
                <p>&copy; @DateTime.Today.Year - by Yuriy Stetskyi</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <script>
            function displayMessage(aTitle, aText) {
                if (aTitle == "Success") {
                    $.growl.notice({ title: aTitle, message: aText });
                }
                else if (aTitle == "Warning") {
                    $.growl.warning({ title: aTitle, message: aText });
                }
                else if (aTitle == "Error") {
                    $.growl.error({ title: aTitle, message: aText });
                }
                else {
                    $.growl({ title: aTitle, message: aText });
                }
            }
        </script>

    </div>
</body>
</html>
