@model IssueTrackingSystem.ServiceReference1.Bug

@using IssueTrackingSystem.ServiceReference1;

@{
    ViewBag.Title = "Bug Description";
    Layout = "~/Views/Shared/_Main.cshtml";

    string developerName = "Unknown";

    if ((User)ViewBag.DeveloperInDuty != null)
    {
        User u = (User)ViewBag.DeveloperInDuty;
        developerName = u.Nickname;
    }

    string pmName = "Unknown";

    if ((User)ViewBag.ProjectManager != null)
    {
        User u = (User)ViewBag.ProjectManager;
        pmName = u.Nickname;
    }
}

<div class="row">
    <div class="col-lg-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-8 col-xs-8 col-sm-8 col-md-8" style="background-color: rgb(166, 228, 239); border-radius: 5px;">
        <br />
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Description</li>
            <li class="breadcrumb-item"><a href="@Url.Action("BugWorkflowPage", "Bts", new { projName = (string) ViewBag.ProjectName, id = Model.Id })">Workflow</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("BugSolutionPage", "Bts", new { projName = (string) ViewBag.ProjectName, id = Model.Id })">Solution</a></li>
        </ol>
        <dl class="dl-horizontal">
            <dt style="margin-bottom: 10px;">ID: </dt>
            <dd>@Html.DisplayFor(model => model.Id)</dd>
            <dt style="margin-bottom: 10px;">Subject: </dt>
            <dd>@Html.DisplayFor(model => model.Subject)</dd>
            <dt style="margin-bottom: 10px;">Started by: </dt>
            @if (Model.TopicStarter != null)
            {
            <dd>@Html.DisplayFor(model => model.TopicStarter)</dd>
            }
            else
            {
                <dd>Unknown</dd>
            }
        </dl>
        <div class="row text-center" style="margin-bottom: 10px;">
            <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-8 col-sm-8 col-md-8 col-lg-8" style="background-color: rgb(155, 210, 226); border-radius: 5px;">
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
        </div>

        <dl class="dl-horizontal">
            <dt style="margin-bottom: 10px;">Project Manager: </dt>
            <dd>@pmName</dd>
            <dt style="margin-bottom: 10px;">Developer: </dt>
            <dd id="developerData">@developerName
            @if(Session["Status"].ToString() == "Project Manager" && Session["Username"].ToString() == pmName && Model.Status != "Closed")
            {
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#changeDev"><span class="glyphicon glyphicon-edit"></span></button>
            }
            </dd>
        </dl>
        <br/>

        @if (Session["Username"].ToString() == Model.TopicStarter && Model.Status == "Closed")
        {
            using (Html.BeginForm("RestartBug", "Bts", new { projName = (string)ViewBag.ProjectName, id = Model.Id }, FormMethod.Post, null))
            {
                <input type="submit" class="btn btn-default" style="margin-bottom: 15px;" value="Restart topic" />
            }
        }
    </div>
</div>

<div class="modal fade" role="dialog" id="changeDev">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:darkgrey; color: white; border-top-left-radius: 5px;border-top-right-radius: 5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Change developer</h4>
            </div>
            <div class="form-horizontal" style="display: table; margin: auto; min-width: 75%; padding-top: 10px;">
                <div class="form-group">
                    @Html.Label("Project developers:", new { @class = "control-label col-xs-5 col-sm-5 col-md-5 col-lg-5" })
                    <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

                        @if ((List<SelectListItem>)ViewBag.Developers != null)
                        {
                        @Html.DropDownList("Developers", (List<SelectListItem>)ViewBag.Developers,new { @class = "form-control col-xs-5 xol-sm-5 col-md-5 col-lg-5" })
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color:darkgrey; color: white; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                <button type="button" data-dismiss="modal" class="btn btn-info" id="developerSubmitButton">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
    $(document).ready(function() {

    $("#developerSubmitButton").click(function(){
    
        var f = JSON.stringify({
            bugId: "@Model.Id",
            projectName: "@ViewBag.ProjectName.ToString()",
            devNickname : $("select[name='Developers']").val()
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangeDeveloper", "Bts")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: f,
            success: function(res)
            {
                if (res) {
                    displayMessage("Success", "In-duty developer changed");
                    
                    $("#developerData").empty();

                    $("#developerData").append($("select[name='Developers']").val() + "    ");
                    $("#developerData").append('<button type="button" class="btn btn-default" data-toggle="modal" data-target="#changeDev"><span class="glyphicon glyphicon-edit"></span></button>');
                }
                else {
                    displayMessage("Error", "Change was not applied");
                }
            },
            error: function(xhr, status, errorMessage)
            {
                displayMessage("Error", errorMessage);
            }
        });
    });

    });
</script> 
}