@{
    ViewBag.Title = "FindUsers";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div style="margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px">
            <div class="form-horizontal" style="margin: auto;">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                        @Html.Editor("Name", new { htmlAttributes = new { id = "userName", placeholder = "Search", @class = "form-control col-xs6 col-sm-6 col-md-6 col-lg-6" } })
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <button type="submit" id="search" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-offset-2 col-md-8" id="developers">

    </div>
</div>


@section scripts
{
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script>

        var lastId = 0;

        $(document).ready(
            function () {

                searchForDevelopers();

                $(document).scroll(function () {
                    if ($(document).height() - ($(window).height() + $(window).scrollTop()) < 50) {
                        searchForDevelopers();
                    }
                });

                $("#search").click(function () {
                    $("#developers").empty();
                    lastId = 0;
                    searchForDevelopers();
                });
            });

        $("#userName").keypress(function (e) {
            if (e.which == 13) {
                $("#developers").empty();
                lastId = 0;
                searchForDevelopers();
            }
        });


        function getDivForDeveloper(userData, source) {
            return '<div class="row" id="developer' + userData.Id + '">'
                + '<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-6 col-xs-offset-3">'
                          + '<a href="@Url.Action("ExternalAccountPage", "Bts")' + '/?id=' + userData.Id + '">'
                 + '<div class="row" style="margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px; background-color: rgb(16, 219, 131); border-radius: 5px;">'
                   + '<div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1">'
        + '<img src="' + source + '" class="img-responsive col-md-10 col-sm-10 col-xs-10" style="margin: 10px 10px 10px 10px" />'
   + '</div>'
                + '<div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-sm-10 col-xs-10">'
   +     '<div class="row text-center" style="background-color: rgb(0, 255, 144); margin-bottom: 5px; border-radius: 5px;">'
         +   '<p>' + userData.Name + ' ' + userData.Surname + '</p>'
        +'</div>'
     + '<div class="row text-center" style="background-color: rgb(0, 255, 144); margin-bottom: 5px; border-radius: 5px;">'
        +   '<p>' + userData.Nickname + '</p>'
       + '</div>'
                + '</a>'
     + '<div class="row text-center" style="margin-bottom: 5px; border-radius: 5px;">'
        + '<button type="button" class="btn btn-info btn-block" onclick="inviteDev(' + userData.Id + ')">Invite</button>'
       + '</div>'
  + '</div>'
   + '</div>'
            + '</div>'
            + '</div>';
        }

        function searchForDevelopers() {

            var names = $("#userName").val().split(" ");

            var toPass = JSON.stringify({
                id: lastId,
                names: names,
                projectName : "@ViewBag.ProjectName.ToString()"
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("FindDevelopersForProject", "Bts")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: toPass,
                async: false,
                success: function (res) {
                    if (res != null) {
                        if (res.length > 0) {
                            lastId = res[res.length / 2 - 1].Id;
                            for (var i = 0; i < res.length / 2; ++i) {
                                $("#developers").append(getDivForDeveloper(res[i], res[i + res.length/2]));
                            }
                        }
                        else {
                            if ($("#developers").is(':empty')) {
                                $("#developers").append('<div class="text-center"><p>No developers were found</p></div>');
                            }
                        }
                    }
                    else {
                        if ($("#developers").is(':empty')) {
                            $("#developers").append('<div class="text-center"><p>No developers were found</p></div>');
                        }
                        }
                },
                error: function (xhr, status, message) {
                    alert(message);
                }
            });
        }

        function inviteDev(devId)
        {
            var toPass = JSON.stringify({
                projectName: "@ViewBag.ProjectName.ToString()",
                devId: devId
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("InviteDevelopers", "Bts")",
                dataType: "json",
                data: toPass,
                contentType: "application/json; charset=utf-8",
                success: function(res)
                {
                    if (res)
                    {
                        displayMessage("Success", "Developer is invited to the project");
                        $("#developer" + devId).hide();
                    }
                    else {
                        displayMessage("Error", "Changes were not applied");
                    }
                },
                error: function(xhr, status, message)
                {
                    displayMessage("Error", message);
                }
            });
        }

    </script>
}