@model IEnumerable<BTS.Models.Category>

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Start.cshtml";
}

<div class="text-center">
    <h2>Main</h2>
    <p>Hello, registered user!</p>
</div>

<div class="row">
        <div class="col-md-offset-3 col-md-6 well">
            <div class="form-group">
                <div class="row">
                <div class="col-md-4">
                    @Html.Label("Project Category:", new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    <select id="ms" multiple="multiple">
                        @{
                            foreach (var item in Model)
                            {
                                <option>@item.Title</option>
                            }
                        }
                    </select>
                </div>
            </div>
                </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("Project Name:", new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        @Html.Editor("projectName", new { htmlAttributes = new { @class="form-control" } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-5 col-md-2">
                    <button type="submit" id="searchButton" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
   </div>
</div>

<div class="row">
    <div class="text-center col-md-offset-2 col-md-8" id="projects" style="padding-top: 10px;padding-bottom: 10px;background-color:rgb(52, 250, 250);height: 300px;overflow-x:hidden; overflow-y: auto;">
    </div>
</div>

@section scripts
{
<script src="~/Scripts/multiple-select.js"></script>
<script>
    $(function () {
        $('#ms').change(function () {
            console.log($(this).val());
        }).multipleSelect({
            width: '100%'
        });
    });

    $("#searchButton").click(function () {

       // alert("AAA");

        var checkedOnes = $('#ms option:selected');

        var jsonString = "{categories:[";

        var categoryStr = [];

        checkedOnes.each(function () {
            categoryStr.push($(this).text());
        });

        jsonString = jsonString.substring(0, jsonString.length - 1);
        jsonString += "]}"

       // alert(jsonString);

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetProjectsByCategories", "Bts")",
            data: JSON.stringify(categoryStr),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (res) {

                $("#projects").empty();

                // I'll correct this A.S.A.P. :)
                
                for(var i = 0; i < res.length; ++i)
                {
                    $("#projects").append('<div style="border-radius:5px; background-color: rgb(0, 255, 144); padding: 10px 10px 10px 10px;margin-top: 10px; margin-bottom: 10px;">'

             + '<div class="row">'
            +'<div class="col-md-offset-1 col-md-5 text-center" style="background-color: rgb(111, 255, 192); border-radius:3px; margin-bottom: 5px;">'
                + '<p>' + res[i].Name + '</p>'
             + '</div>'
            +'<div class="col-md-5">'
                
           + '</div>'
        +'</div>'
            +'<div class="row">'
               +'<div class="col-md-offset-1 col-md-5 text-center" style="background-color: rgb(86, 251, 179); border-radius:3px;">'
                    + '<p>' + res[i].Description + '</p>'
               + '</div>'
                +'<div class="col-md-5">'
                +'<input type="submit" class="btn btn-info" value="View" />'
                +'</div>'
           +' </div>'
        +'</div>');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
</script>
}