@model List<IssueTrackingSystem.ServiceReference1.Category >

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@if (TempData["status"] != null)
{
    @Html.Hidden(TempData["status"].ToString(), TempData["status"].ToString(), new { id = "status" })
}
else
{
    @Html.Hidden("null", "null", new { id = "status" })
}

@if (TempData["message"] != null)
{
    @Html.Hidden(TempData["message"].ToString(), TempData["message"].ToString(), new { id = "message" })
}
else
{
    @Html.Hidden("null", "null", new { id = "message" })
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div style="margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px">
            <div class="form-horizontal" style="margin: auto;">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.Editor("Project Name", new { htmlAttributes = new { id = "projectName", placeholder = "Name...", @class = "form-control" } })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("Category: ", new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        <select id="ms" multiple="multiple"  class="form-control">
                            @{
                                foreach (IssueTrackingSystem.ServiceReference1.Category item in Model)
                                {
                                    <option value="@item.Id" selected>@item.Title</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" id="search" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8" id="projects">

    </div>
</div>

@section scripts
{
                <script src="~/Scripts/multiple-select.js"></script>

                <script>
                    var lastId = 0;

                    $(document).ready(function () {
                        $('#ms').change(function () {
                            console.log($(this).val());
                        }).multipleSelect({
                            width: '100%'
                        });

                        if ($("#message").val() != "null") {
                            displayMessage($("#status").val(), $("#message").val());
                        }

                        getDataByCategories();

                        $(document).scroll(function ()
                        {
                            if ($(document).height() - ($(window).height() + $(window).scrollTop()) < 50)
                            {
                                getDataByCategories();
                            }
                        });

                        $("#search").click(function ()
                        {
                            $("#projects").empty();
                            lastId = 0;

                            if ($("#projectName").val() != "")
                            {
                                getDataByName();
                            }
                            else
                            {
                                getDataByCategories();
                            }
                         });

                    });

                    $("#projectName").keypress(function (e) {
                        if (e.which == 13) {
                            $("#projects").empty();
                            lastId = 0;

                            if ($("#projectName").val() != "") {
                                getDataByName();
                            }
                            else {
                                getDataByCategories();
                            }
                        }
                    });


                    function getDataByName()
                    {
                        var prName = [];
                        prName.push($("#projectName").val());

                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("GetProjectsByName", "Bts")",
                            data: JSON.stringify(prName),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (res) {

                                if (res.length > 0) {
                                    lastId = res[res.length / 2 - 1].Id;

                                    for (var i = 0; i < res.length / 2; ++i) {
                                        $("#projects").append(getDivForProject(res[i], res[i + res.length / 2]));
                                    }
                                }
                                else {
                                    $("#projects").append('<div class="text-center">No projects were found</div>');
                                }
                            },
                            error: function (xhr, status, error) {
                                alert(error);
                            }
                        });
                    }


                    function getDivForProject(val, imgSource) {
                        var str = '<a href="@Url.Action("ShowProject", "Bts")' + '/?name=' + val.Name + '">'
                            + '<div style="border-radius:5px; background-color: rgb(0, 255, 144);">'
                             + '<div style="padding: 10px 10px 10px 10px; margin: 10px 10px 10px 10px;">'
                        + '<div class="row">';

                       str += '<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">'
                           + '<div class="row">'
                           + '<div class="col-md-offset-1 col-md-10 text-center" style="background-color: rgb(111, 255, 192); border-radius:3px; margin-bottom: 5px;">'
                                    + '<p>' + val.Name + '</p>'
                                 + '</div>'
                            + '</div>'
                                + '<div class="row">'
                                   + '<div class="col-md-offset-1 col-md-10 text-center" style="background-color: rgb(86, 251, 179); border-radius:3px;">'
                                        + '<p>' + val.Description + '</p>'
                                   + '</div>'
                               + ' </div>'
                               + '</div>'

                       if (imgSource != null) {
                           str += '<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">'
                            + '<img src="' + imgSource + '" class="img-responsive" style="margin: 10px 10px 10px 10px; max-height: 150px;" />'
                           + '</div>';
                       }

                               str += '</div>'
                            + '</div>'
                            + '</div>'
                             + '</a>';

                        return str;
                    }

                    function getDataByCategories() {
                        var checkedOnes = $('#ms option:selected');

                        var categoryStr = [];

                        checkedOnes.each(function () {
                            categoryStr.push($(this).val());
                        });

                        var f = JSON.stringify({
                            categories: categoryStr,
                            lastId : lastId
                        });

                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("GetProjectsByCategories", "Bts")",
                            data: f,
                            dataType: "json",
                            async: false,
                            contentType: "application/json; charset=utf-8",
                            success: function (res) {

                                if (res.length > 0) {
                                    lastId = res[(res.length / 2) - 1].Id;

                                    for (var i = 0; i < res.length/2; ++i) {
                                        $("#projects").append(getDivForProject(res[i], res[i + res.length/2]));
                                    }

                                }
                                else {
                                    if ($("#projects").is(':empty')) {
                                        $("#projects").append('<div class="text-center">No projects were found</div>');
                                    }
                                }
                            },
                            error: function (xhr, status, error) {
                                alert(error);
                            }
                        });
                    }
                </script>
            }
